.CircleItem{
    position: absolute;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.CircleItem:hover{
    z-index: 1000;
}
.CircleShape:hover .CircleText{
    display: block;
    z-index: 999;
    background: white;
}
.CircleShape{
    z-index: 0;
    width: 9px;
    height: 9px;
    border: 1px solid gray;
    border-radius: 50%;
    transition: .6s linear;
}
.CircleWrapperText{
    width: 1px;
    height: 1px;
    position: relative;
}
.CircleText{
    z-index: 0;
    position: absolute;
    color: black;
    left: -10px;
    border-radius: 17px;
    top: 5px;
    border: 1px solid black;
    padding: 5px 10px;
    display: none;
}

.CircleItemBlack{
    background: black;
}
.CircleShape:hover + .CircleWrapperText .CircleText{
    display: block;
    z-index: 999;
    background: white;
}
.CircleTextTitled{
    display: block;
    z-index: 99;
    background: white;
}
.CircleShape:hover{
    z-index: 999;
    background: slateblue;
}